
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Define the CSS for the icon boxes */
    .icon-box {
        position: relative;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: transform 0.2s ease, box-shadow 0.3s ease; /* Add transform transition */
    }

        .icon-box:hover {
            background-color: #333;
            color: #fff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow size on hover */
            transform: translateY(-5px); /* Move the box up slightly on hover */
        }

        .icon-box img {
            display: block;
            margin: 0 auto;
        }

        .icon-box p {
            margin-top: 10px;
            line-height: 1.3;
        }
</style>


<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-dashboard dasboard-icon"></i>
                    <a href="@Url.Action("Index","MyDashboard")">My Dashboard</a>
                </li>
            </ul><!-- /.breadcrumb -->
        </div>


        <div class="page-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("UpdateProfile", "StudentProfile", new { Area = "StudentAccount" })">
                        <div class="icon-box">
                            <img src="~/Content/Icons/myprofile.png" alt="My Profile">
                            <p>PROFILE</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("AllCourses","MyCourses", new { area = "Courses"})">
                        <div class="icon-box">
                            <img src="~/Content/Icons/courses.png" alt="Courses">
                            <p>COURSES</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("AllFee","MyFees", new { area = "Fees"})">
                        <div class="icon-box">
                            <img src="~/Content/Icons/payment.png" alt="Courses">
                            <p>FEE PAYMENTS</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/assignment.png" alt="Courses">
                            <p>ASSIGNMENTS</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/attendance1.png" alt="Courses">
                            <p>ATTENDANCE</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/notice-board.png" alt="Courses">
                            <p>NOTICE BOARD</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>




    </div>
</div><!-- /.main-content -->

